.navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    cursor: pointer;
  }
  
  .dropdown-menu {
    cursor: pointer;
  }
  .navbar.bg-dark {
    background-color: var(--bs-dark) !important; 
  }